In [2]:
import numpy as np
import pandas as pd
import os

In [4]:
# Set the working directory
os.chdir(r"D:\Benson\aUpWork\Douglas Backtester Algo\Backtester Algorithm\Data")

In [ ]:
# Load the CSV file
file_path = r"YMAX ETF Stock Price History.csv"
YMAX = pd.read_csv(file_path)

# Display the first few rows
YMAX.head()

         Date  Price   Open   High    Low     Vol. Change %
0  01/28/2025  16.72  16.57  16.73  16.33  950.74K    1.95%
1  01/27/2025  16.40  16.44  16.62  16.23    2.56M   -2.90%
2  01/24/2025  16.89  17.00  17.08  16.86    1.39M   -0.41%
3  01/23/2025  16.96  16.80  16.97  16.77    1.03M   -0.41%
4  01/22/2025  17.03  17.04  17.09  16.97    1.47M    0.89%

In [6]:
# Load the CSV file
file_path = r"YMAG ETF Stock Price History.csv"
YMAG = pd.read_csv(file_path)

# Display the first few rows
YMAG.head()

         Date  Price   Open   High    Low     Vol. Change %
0  01/28/2025  18.81  18.48  18.83  18.35  933.82K    2.28%
1  01/27/2025  18.39  18.27  18.53  18.18    1.25M   -2.85%
2  01/24/2025  18.93  19.00  19.07  18.83  848.88K   -0.05%
3  01/23/2025  18.94  18.94  18.97  18.85  585.19K   -0.63%
4  01/22/2025  19.06  18.94  19.09  18.90  622.02K    0.85%