In [62]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from mplfinance.original_flavor import candlestick_ohlc
import matplotlib.dates as mdates
import yfinance as yf

In [63]:
import warnings

# Suppress all warnings
warnings.simplefilter(action='ignore', category=Warning)

In [64]:
# Set the working directory
os.chdir(r"D:\Benson\aUpWork\Douglas Backtester Algo\Backtester Algorithm\Data")

In [65]:
# Function to view all rows and columns
def view_all():
    pd.set_option('display.max_rows', None)  # Show all rows
    pd.set_option('display.max_columns', None)  # Show all columns
    print("Display set to show all rows and columns.")

# Function to reset display options to default
def reset_display():
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')
    print("Display options reset to default.")

# Example Usage
view_all()  # Set to view all rows and columns
reset_display()  # Reset to default display settings

Display set to show all rows and columns.
Display options reset to default.

In [66]:
# Load the excel data file
file_path = r"YMAG ETF Price & Dividends.xlsx"
YMAG = pd.read_excel(file_path)

# Convert 'Date' column to datetime
YMAG["Date"] = pd.to_datetime(YMAG["Date"])

# Drop unnecessary columns
YMAG = YMAG.drop(columns=['Vol.', 'Change %'])

# Display the first few rows
YMAG

          Date  Price   Open   High    Low
0   2025-01-28  18.81  18.48  18.83  18.35
1   2025-01-27  18.39  18.27  18.53  18.18
2   2025-01-24  18.93  19.00  19.07  18.83
3   2025-01-23   0.19    NaN    NaN    NaN
4   2025-01-23  18.94  18.94  18.97  18.85
..         ...    ...    ...    ...    ...
269 2024-02-06  20.20  20.16  20.28  20.05
270 2024-02-05  20.19  20.34  20.34  19.95
271 2024-02-02  20.30  20.18  20.32  19.99
272 2024-02-01  19.75  19.68  19.76  19.60
273 2024-01-31  19.49  19.69  19.69  19.45

[274 rows x 5 columns]

In [67]:
# Load the Excel data file
file_path = r"YMAX ETF Price & Dividends.xlsx"
YMAX = pd.read_excel(file_path)

# Convert 'Date' column to datetime
YMAX["Date"] = pd.to_datetime(YMAX["Date"])

# Drop unnecessary columns
YMAX = YMAX.drop(columns=['Vol.', 'Change %'])

# Display the first few rows
YMAX.head()

        Date  Price   Open   High    Low
0 2025-01-28  16.72  16.57  16.73  16.33
1 2025-01-27  16.40  16.44  16.62  16.23
2 2025-01-24  16.89  17.00  17.08  16.86
3 2025-01-23   0.17    NaN    NaN    NaN
4 2025-01-23  16.96  16.80  16.97  16.77

In [68]:
#Extracting the Dividends data
# Create a new DataFrame with only rows where 'Open' is NaN
YMAX_Dividends = YMAX[YMAX['Open'].isna()].copy()

# Drop unnecessary columns
YMAX_Dividends = YMAX_Dividends.drop(columns=['Open', 'High', 'Low'])

# Rename 'Price' column to 'Dividends'
YMAX_Dividends = YMAX_Dividends.rename(columns={'Price': 'YMAX Dividends'})

# Display the new DataFrame
YMAX_Dividends

          Date  YMAX Dividends
3   2025-01-23            0.17
8   2025-01-16            0.11
14  2025-01-08            0.14
18  2025-01-03            0.18
23  2024-12-27            0.25
29  2024-12-19            0.14
35  2024-12-12            0.12
41  2024-12-05            0.24
46  2024-11-29            0.31
52  2024-11-21            0.24
58  2024-11-14            0.15
64  2024-11-07            0.12
70  2024-10-31            0.23
76  2024-10-24            0.23
82  2024-10-17            0.18
88  2024-10-10            0.20
94  2024-10-03            0.21
100 2024-09-26            0.22
106 2024-09-19            0.23
131 2024-08-15            0.59
153 2024-07-17            0.65
175 2024-06-14            0.73
197 2024-05-15            0.73
218 2024-04-17            0.63
242 2024-03-14            0.57
262 2024-02-15            0.53

In [69]:
#Extracting the Dividends data
# Create a new DataFrame with only rows where 'Open' is NaN
YMAG_Dividends = YMAG[YMAG['Open'].isna()].copy()

# Drop unnecessary columns
YMAG_Dividends = YMAG_Dividends.drop(columns=['Open', 'High', 'Low'])

# Rename 'Price' column to 'Dividends'
YMAG_Dividends = YMAG_Dividends.rename(columns={'Price': 'YMAG Dividends'})

# Display the new DataFrame
YMAG_Dividends

          Date  YMAG Dividends
3   2025-01-23            0.19
8   2025-01-16            0.05
14  2025-01-08            0.16
18  2025-01-03            0.31
23  2024-12-27            0.17
29  2024-12-19            0.06
40  2024-12-05            0.28
45  2024-11-29            0.20
51  2024-11-21            0.06
57  2024-11-14            0.21
63  2024-11-07            0.21
69  2024-10-31            0.15
75  2024-10-24            0.06
81  2024-10-17            0.23
87  2024-10-10            0.28
93  2024-10-03            0.16
99  2024-09-26            0.17
105 2024-09-19            0.20
130 2024-08-15            0.58
152 2024-07-17            0.64
174 2024-06-14            0.68
196 2024-05-15            0.64
217 2024-04-17            0.62
241 2024-03-14            0.59
261 2024-02-15            0.43

In [70]:
# Drop all rows with NaN values in YMAX and YMAG
YMAX = YMAX.dropna()
YMAG = YMAG.dropna()

# Merge dividends with YMAX price data
YMAX = YMAX.merge(YMAX_Dividends, on="Date", how="left")
YMAX["YMAX Dividends"].fillna(0, inplace=True)  # Fill missing dividends with 0

# Merge dividends with YMAG price data
YMAG = YMAG.merge(YMAG_Dividends, on="Date", how="left")
YMAG["YMAG Dividends"].fillna(0, inplace=True)  # Fill missing dividends with 0

# Display merged data
print(YMAX.head())
print(YMAG.head())

        Date  Price   Open   High    Low  YMAX Dividends
0 2025-01-28  16.72  16.57  16.73  16.33            0.00
1 2025-01-27  16.40  16.44  16.62  16.23            0.00
2 2025-01-24  16.89  17.00  17.08  16.86            0.00
3 2025-01-23  16.96  16.80  16.97  16.77            0.17
4 2025-01-22  17.03  17.04  17.09  16.97            0.00
        Date  Price   Open   High    Low  YMAG Dividends
0 2025-01-28  18.81  18.48  18.83  18.35            0.00
1 2025-01-27  18.39  18.27  18.53  18.18            0.00
2 2025-01-24  18.93  19.00  19.07  18.83            0.00
3 2025-01-23  18.94  18.94  18.97  18.85            0.19
4 2025-01-22  19.06  18.94  19.09  18.90            0.00

In [71]:
# Merge dividends with YMAX price data
Divs = YMAX[["Date", "YMAX Dividends"]].merge(YMAG[["Date", "YMAG Dividends"]], on="Date", how="left")

In [72]:
# Load the CSV file with all assets prices
file_path = 'All assets Prices.csv'
data = pd.read_csv(file_path)

# Ensure 'Date' is in datetime format
data['Date'] = pd.to_datetime(data['Date'])

# Merge the data with Divs on 'Date'
All_Assets = data.merge(Divs, on='Date', how='left')

# Sort the DataFrame by 'Date' in descending order
All_Assets = All_Assets.sort_values(by='Date', ascending=True)

# Set 'Date' as the index
All_Assets.set_index('Date', inplace=True)

# Print the sum of missing values in each column
print("The sum of missing values in each column:")
print(All_Assets.isnull().sum())

# Display the first few rows of the merged DataFrame
All_Assets.head()

The sum of missing values in each column:
YMAX              0
YMAG              0
VIX               0
VVIX              0
QQQ               0
YMAX Dividends    0
YMAG Dividends    0
dtype: int64

,YMAX,YMAG,VIX,VVIX,QQQ,YMAX Dividends,YMAG Dividends
Date,,,,,,,
2024-01-31,20.20,19.49,14.35,87.559998,414.506744,0.0,0.0
2024-02-01,20.39,19.75,13.88,84.830002,419.387726,0.0,0.0
2024-02-02,20.70,20.30,13.85,83.309998,426.475617,0.0,0.0
2024-02-05,20.44,20.19,13.67,79.580002,425.918945,0.0,0.0
2024-02-06,20.61,20.20,13.06,76.970001,425.063965,0.0,0.0

In [76]:
# Define rolling window size (e.g., 21 days)
window_size = 21

# Compute daily returns for each asset in All_Assets, excluding dividends columns
returns = All_Assets.loc[:, ~All_Assets.columns.str.contains('Dividends')].pct_change().dropna()

# Initialize stats_df with rolling volatilities
Prices_and_stats_df = pd.DataFrame(index=returns.index)

# Compute rolling correlations
Prices_and_stats_df["YMAX-VIX Correlation"] = returns["YMAX"].rolling(window=window_size).corr(returns["VIX"])
Prices_and_stats_df["YMAX-VVIX Correlation"] = returns["YMAX"].rolling(window=window_size).corr(returns["VVIX"])
Prices_and_stats_df["YMAG-VIX Correlation"] = returns["YMAG"].rolling(window=window_size).corr(returns["VIX"])
Prices_and_stats_df["YMAG-VVIX Correlation"] = returns["YMAG"].rolling(window=window_size).corr(returns["VVIX"])

#Merge the prices and stats data
Prices_and_stats_df = All_Assets.merge(Prices_and_stats_df, left_index=True, right_index=True)

# Drop NaN values resulting from rolling calculations
Prices_and_stats_df = Prices_and_stats_df.dropna()

# Export Prices_and_stats_df to an Excel file
Prices_and_stats_df.to_excel('Prices_and_stats_df.xlsx', index=True)

# Display the first and last few rows of Prices_and_stats_df
Prices_and_stats_df

,YMAX,YMAG,VIX,VVIX,QQQ,YMAX Dividends,YMAG Dividends,YMAX-VIX Correlation,YMAX-VVIX Correlation,YMAG-VIX Correlation,YMAG-VVIX Correlation
Date,,,,,,,,,,,
2024-03-01,21.67,21.00,13.11,77.680000,442.977508,0.00,0.00,-0.626499,-0.549622,-0.508677,-0.456559
2024-03-04,21.60,20.74,13.49,79.410004,441.396912,0.00,0.00,-0.626533,-0.549422,-0.510632,-0.458702
2024-03-05,21.17,20.41,14.46,83.910004,433.473969,0.00,0.00,-0.675417,-0.589907,-0.593275,-0.510036
2024-03-06,21.38,20.37,14.50,83.110001,436.197815,0.00,0.00,-0.706867,-0.681932,-0.603820,-0.546858
2024-03-07,21.65,20.65,14.44,82.129997,442.818512,0.00,0.00,-0.700723,-0.679942,-0.611949,-0.559811
...,...,...,...,...,...,...,...,...,...,...,...
2025-01-22,17.03,19.06,15.10,100.559998,531.510010,0.00,0.00,-0.647490,-0.617914,-0.637645,-0.556642
2025-01-23,16.96,18.94,15.02,99.519997,532.640015,0.17,0.19,-0.727224,-0.605098,-0.658971,-0.565712
2025-01-24,16.89,18.93,14.85,100.410004,529.630005,0.00,0.00,-0.742413,-0.578384,-0.763446,-0.611782
2025-01-27,16.40,18.39,17.90,110.309998,514.210022,0.00,0.00,-0.797578,-0.655731,-0.800995,-0.632679
2025-01-28,16.72,18.81,16.41,103.739998,521.809998,0.00,0.00,-0.791915,-0.640601,-0.783334,-0.608870